  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --pimary-color: #39F565;
    --secondar-color:#252B37;
    --white-color: #B7B7B7;
    --background-color:#101010;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem !important;
    box-sizing: border-box;
    background-color: #1E1E1E;
}